/* src/index.css */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsieve tabel */
table {
  width: 100%;
  table-layout: auto;
}

/* Maak tekst selecteerbaar en voorkom ongewenste tekst-overloop */
td, th {
  word-wrap: break-word;
  white-space: normal;
}
